body {
    background-color: #d8d8d8;
}

.table-dark {
    font-family: "Share Tech Mono", monospace, Arial, Helvetica, sans-serif;
}

thead {
    font-size: 20px;
    color: #9e0000;
}

.gotham-nextarrival {
    color: white;
}

.jumbotron {
    text-align: center;
    font-family: "Gugi", cursive, Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #181818;
    color: white;
}

.card-header {
    font-family: "Gugi", cursive, Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.form-group {
    font-family: "Gugi", cursive, Arial, Helvetica, sans-serif;
}

.btn-primary {
    color: white;
    background-color: black;
    font-family: "Gugi", cursive, Arial, Helvetica, sans-serif;
    border: none;
}

.btn-primary:hover {
    color: black;
    background-color: white;
}

